{
    "version": "1.2",
    "download_path": "Downloads",
    "reddit": {
        "id": "YOUR-REDDIT-PERSONAL-USE-SCRIPT",
        "secret": "YOUR-REDDIT-API-SECRET",
        "name": "YOUR-REDDIT-API-NAME",
        "repo": [
            {
                "subreddit": "pics",
                "limit_requests": 50,
                "last_update": 1584661281.0
            },
            {
                "subreddit": "gif",
                "dirname": "animated",
                "limit_requests": 10,
                "last_update": 1584660564.0
            },
            {
                "subreddit": "gif",
                "dirname": "animated",
                "copy_to": ["folder1", "folder2"],
                "limit_requests": 10,
                "last_update": 1584660564.0
            }
        ]
    }
}